<!-- <div class="account-content">
  <div class="login-wrapper">
    <div class="login-content">
      <div class="login-userset">
        <div class="login-logo logo-normal">
          <img src="assets/img/logo.png" alt="img" />
        </div>
        <a [routerLink]="routes.dashboard" class="login-logo logo-white">
          <img src="assets/img/logo-white.png" alt="" />
        </a>
        <div class="login-userheading">
          <h3>{{ "Change Your Password" | translate }}</h3>
        </div>
        <form [formGroup]="form">
          <div class="form-login">
            <label>{{ "Old Password" | translate }}</label>
            <div class="form-addons">
              <input
                type="password"
                class="form-control p-inline-10"
                placeholder="{{ 'Old Password' | translate }}"
                name="Old Password"
                required
                id="Password"
                formControlName="oldPassword"
                [type]="show ? 'text' : 'password'"
                [ngClass]="{
                  'is-invalid':
                    f['oldPassword'].touched && f['oldPassword'].invalid
                }"
              />

              <span
                [class]="
                  show
                    ? 'fas toggle-password fa-eye'
                    : 'fas toggle-password fa-eye-slash'
                "
                (click)="show = !show"
              ></span>
            </div>
            <div
              *ngIf="f['oldPassword'].touched && f['oldPassword'].errors"
              class="invalid-feedback"
            >
              <div>
                <div *ngIf="f['oldPassword'].errors?.['required']">
                  {{ "this field is required" | translate }}
                </div>
              </div>
              <div>
                <div *ngIf="f['oldPassword'].errors?.['minlength']">
                  {{ "minlength is 8 character" | translate }}
                </div>
              </div>
              <div>
                <div *ngIf="f['oldPassword'].errors?.['maxlength']">
                  {{ "maxlength is 50 character" | translate }}
                </div>
              </div>
              <div>
                <div *ngIf="f['oldPassword'].errors?.['pattern']">
                  {{ "Password Should Complex Pattern" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-login">
            <label>{{ "New Password" | translate }}</label>
            <div class="form-addons">
              <input
                type="password"
                class="form-control p-inline-10"
                placeholder="{{ 'New Password' | translate }}"
                name="New Password"
                required
                id="Password"
                formControlName="newPassword"
                [type]="show2 ? 'text' : 'password'"
                [ngClass]="{
                  'is-invalid':
                    f['newPassword'].touched && f['newPassword'].invalid
                }"
              />

              <span
                [class]="
                  show2
                    ? 'fas toggle-password fa-eye'
                    : 'fas toggle-password fa-eye-slash'
                "
                (click)="show2 = !show2"
              ></span>
            </div>
            <div
              *ngIf="f['newPassword'].touched && f['newPassword'].errors"
              class="invalid-feedback"
            >
              <div>
                <div *ngIf="f['newPassword'].errors?.['required']">
                  {{ "this field is required" | translate }}
                </div>
              </div>
              <div>
                <div *ngIf="f['newPassword'].errors?.['minlength']">
                  {{ "minlength is 8 character" | translate }}
                </div>
              </div>
              <div>
                <div *ngIf="f['newPassword'].errors?.['maxlength']">
                  {{ "maxlength is 50 character" | translate }}
                </div>
              </div>
              <div>
                <div *ngIf="f['newPassword'].errors?.['pattern']">
                  {{ "Password Should Complex Pattern" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-login">
            <label> {{ "Confirm New Password" | translate }} </label>
            <div class="form-addons">
              <input
                type="password"
                class="form-control p-inline-10"
                placeholder="{{ 'Confirm New Password' | translate }}"
                name="Confirm password"
                required
                id="Password"
                formControlName="passwordConfirm"
                [type]="show3 ? 'text' : 'password'"
                [ngClass]="{
                  'is-invalid':
                    f['passwordConfirm'].touched && f['passwordConfirm'].invalid
                }"
              />

              <span
                [class]="
                  show3
                    ? 'fas toggle-password fa-eye'
                    : 'fas toggle-password fa-eye-slash'
                "
                (click)="show3 = !show3"
              ></span>
            </div>
            <div
              *ngIf="
                f['passwordConfirm'].touched && f['passwordConfirm'].errors
              "
              class="invalid-feedback"
            >
              <div>
                <div *ngIf="f['passwordConfirm'].errors?.['required']">
                  {{ "this field is required" | translate }}
                </div>
              </div>
              <div>
                <div
                  *ngIf="
                    f['passwordConfirm'].touched &&
                    f['passwordConfirm'].errors &&
                    passwordMatchError === null
                  "
                >
                  {{ "Password Doesn't Match" | translate }}
                </div>
              </div>
            </div>
          </div>
        </form>
 
        <div class="form-login">
          <button
            (click)="changePass()"
            [disabled]="form.invalid && passwordMatchError === null"
            class="btn btn-login"
          >
            {{ "Get Started" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="login-img">
      <img src="assets/img/login.jpg" alt="img" />
    </div>
  </div>
</div> -->
