<div class="backgorund-style pb-5" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch">
  <div fxFlex="88">
    <div class="d-inline-flex pt-5">
      <!-- <img src="assets/img/title.png" width="50" height="50"/> -->
      <img [src]="srcLink" width="50" height="50"/>
      <h1 class="align-self-center px-3 mb-5 fw-bold text-primary">{{title}}</h1>
    </div>
    <mat-card>
      <mat-card-content>
        <ng-content></ng-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>
