.verfiy:hover{
    background-color:darkblue;
}
.c-black
{


/* 16/Regular */

font-family: 'Gilroy-Light';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

/* Gray/500 */

color: #667085;
}
.header-text
{
    font-family: 'Gilroy-Light';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Gray/600 */

color: #475467;

}
