<mat-divider></mat-divider>

<form [formGroup]="form">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49">
      <select-field
        [label]="('nationalAddress.City' | translate) + '*'"
        [placeholder]="'nationalAddress.Choose' | translate"
        [controlF]="form.get('city')"
        [options]="options"
      />
    </div>
    <div fxFlex="49">
      <select-field
        [label]="('nationalAddress.District'|translate) + '*'"
        [placeholder]="'nationalAddress.Choose'| translate"
        [controlF]="form.get('district')"
        [options]="options"
      />
    </div>
  </div>

  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49">
      <input-field
        [label]="('nationalAddress.Street' | translate) + '*'"
        [placeholder]="'nationalAddress.EnterStreet' | translate"
        [controlF]="form.get('street')"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="('nationalAddress.Buildingnumber' | translate) + '*'"
        [placeholder]="'nationalAddress.EnterBuildingnumber' | translate"
        [controlF]="form.get('buildingNumber')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49">
      <input-field
        [label]="('nationalAddress.Additionalnumber' | translate) + '*'"
        [placeholder]="'nationalAddress.EnterAdditionalNumber' | translate"
        [controlF]="form.get('additionalNumber')"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="('nationalAddress.PostalCode' | translate) + '*'"
        [placeholder]="'nationalAddress.EnterPostalCode'| translate"
        [controlF]="form.get('postalCode')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="100">
      <input-field
        [label]="('nationalAddress.Nationalabbreviatedaddress' | translate)+ '*'"
        [placeholder]="'nationalAddress.EnterNationalabbreviatedaddress' | translate"
        [controlF]="form.get('nationalAbbreviatedAddress')"
      />
    </div>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4">
    <div fxLayout="row" fxLayoutAlign="space-between center">

      <span class="margin-inline-end-20">
        <app-shared-button
          [label]="'nationalAddress.SubmitApplication' | translate"
          (buttonClick)="submit()"
          [isDisabled]="!form.valid"
        >
        </app-shared-button>
      </span>

      <span>
        <cancel-button [label]="'nationalAddress.Skip' | translate" >
        </cancel-button>
      </span>
    </div>
    <div>
      <a class="a-text-underline-bold" (click)="back()"> {{ "Back" | translate }}</a>
    </div>
  </div>
</form>
