<div class="account-content">
  <div class="login-wrapper">
    <div class="login-content">
      <div class="login-userset">
        <div class="login-logo logo-normal">
          <img src="assets/img/logo.png" alt="img" />
        </div>
        <a class="login-logo logo-white">
          <img src="assets/img/logo-white.png" alt="" />
        </a>
        <div class="login-userheading">
          <h3>Sign In</h3>
          <h4>Please login to your account</h4>
        </div>
        <form [formGroup]="form">
          <div class="form-login">
            <label>{{ "Username Or Email Address"  }}</label>
            <div class="form-addons">
              <input
                type="text"
                placeholder="Enter your email address"
                formControlName="email"
                id="email"
                [ngClass]="{
                  'is-invalid': f['email'].touched && f['email'].invalid
                }"
              />
              <img src="assets/img/icons/mail.svg" alt="img" />
            </div>
            <div
              class="invalid-feedback"
              *ngIf="CustomControler?.status === 'email'"
            >
              {{ CustomControler.message }}
            </div>
            <div
              *ngIf="f['email'].touched && f['email'].invalid"
              class="invalid-feedback text-red d-block"
            >
              <div *ngIf="f['email'].errors && f['email'].errors['required']">
                {{ "this field is required"  }}
              </div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">
                Please, enter valid email address.
              </div>
            </div>
          </div>
          <div class="form-login">
            <label>{{ "Password"  }}</label>
            <div class="pass-group">
              <input
                [type]="password"
                class="pass-input"
                placeholder="Enter your password"
                formControlName="password"
                id="password"
                [ngClass]="{
                  'is-invalid': f['password'].touched && f['password'].invalid
                }"
              />
              <span
                [class]="
                  show
                    ? 'fas toggle-password fa-eye'
                    : 'fas toggle-password fa-eye-slash'
                "
                (click)="show = !show"
              ></span>
            </div>
            <div
              *ngIf="f['password'].touched && f['password'].errors"
              class="text-red"
            >
              <div>
                <div *ngIf="f['password'].errors?.['required']">
                  {{ "this field is required"  }}
                </div>
              </div>
              <div>
                <div *ngIf="f['password'].errors?.['minlength']">
                  {{ "minlength is 8 character"  }}
                </div>
              </div>
              <div>
                <div *ngIf="f['password'].errors?.['maxlength']">
                  {{ "maxlength is 50 character"  }}
                </div>
              </div>
              <div>
                <div *ngIf="f['password'].errors?.['pattern']">
                  {{ "Password Should Complex Pattern"  }}
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="form-login">
          <a (click)="submit()" class="btn btn-login">Sign In</a>
        </div>
      </div>
    </div>
    <div class="login-img">
      <img src="assets/img/login.jpg" alt="img" />
    </div>
  </div>
</div>
