<div class="bg-white" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center">
  <mat-toolbar fxFlex="95" class="bg-white mt-4 mb-4" >

    <!-- <button mat-button routerLink="/">
      <mat-icon>home</mat-icon> 
    </button> -->

    <button
      mat-icon-button
      [mat-menu-trigger-for]="menu"
      fxHide="false"
      fxHide.gt-sm
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>
      <img src="assets/img/logo-taqeem.svg" class="img-style" />
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space">
    <div fxLayout="row" fxLayoutAlign="center center" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/products"><h6 class="fw-bold">{{ 'horizontalHeader.aboutIndividualsPortal' | translate }}</h6></button>
        <button mat-button routerLink="/dashboard"><h6 class="fw-bold">{{ 'horizontalHeader.evaluationServices' | translate }}</h6></button>
        <button mat-button routerLink="/dashboard1"><h6 class="fw-bold">{{ 'horizontalHeader.connectUs' | translate }}</h6></button>
    </div>

  </span>
  
  <button mat-icon-button  aria-label="Example icon-button with heart icon" (click)="changeLang()">
    <mat-icon class="text-light">language</mat-icon>
  </button>
  <button mat-icon-button  aria-label="Example icon-button with heart icon" >
    <mat-icon class="text-light">chat_bubble_outline</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon class="text-light">notifications_none</mat-icon>
  </button>
  <span class="d-inline-flex" fxFlex="21">
      <img src="assets/img/Avatar.svg" class="rounded-circle" width="55" alt="Avatar" />
  <h6 class="align-self-center p-1" fxShow ="false" fxShow.gt-sm>{{ 'horizontalHeader.userName' | translate }}</h6>
  <mat-icon class="align-self-center text-light">keyboard_arrow_down</mat-icon>
  </span>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu" class="p-2">
    <button mat-menu-item routerLink="/products"><h5 class="fw-bold">{{ 'horizontalHeader.aboutIndividualsPortal' | translate }}</h5></button>
    <button mat-menu-item routerLink="/dashboard"><h5 class="fw-bold">{{ 'horizontalHeader.evaluationServices' | translate }}</h5></button>
    <button mat-menu-item routerLink="/dashboard1"><h5 class="fw-bold">{{ 'horizontalHeader.connectUs' | translate }}</h5></button>
    <!--<button mat-menu-item>Help</button>-->
  </mat-menu>
  <!-- <div fxFlex="5"></div> -->
</div>
