.main-sidebar {
  max-height: 100vh !important;
  height: 100vh !important;
  min-height: 100vh !important;
  border-radius: 10px;
  // margin-top: 62px;
  padding: 0;
}

.nav-link p{
    white-space: nowrap;
    width: 158px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
