<mat-label class="text-start">{{label}}</mat-label>
<mat-form-field appearance="outline" class="d-flex pt-3">
<input matInput [placeholder]="placeholder" [type]="type" [disabled]="isDisabled" [formControl]="controlF" [errorStateMatcher]="matcher"/>
<mat-hint>{{hint}}</mat-hint>
@if (controlF.hasError('email') && !controlF.hasError('required')) {
    <mat-error>{{ 'valdation.emailValid' | translate }}</mat-error>
  }
  @if (controlF.hasError('required')) {
    <mat-error>{{label}} <strong>{{ 'valdation.required' | translate }}</strong></mat-error>
  }
  @if (label === ('personalInfo.MobileNumber' | translate) && controlF.hasError('pattern')) {
    <mat-error>{{label}} <strong>{{ 'valdation.onlyNumber' | translate }}</strong></mat-error>
  }
  <!-- @if (label === ('personalInfo.Passward' | translate) && controlF.hasError('pattern') || ('personalInfo.ConfirmPassward' | translate) && controlF.hasError('pattern')) {
    <mat-error>{{label}} <strong>{{ 'personalInfo.passwordHint' | translate }}</strong></mat-error>
  } -->
  <!-- @if (label === ('personalInfo.ConfirmPassward' | translate) && controlF.hasError('pattern')) {
    <mat-error>{{label}} <strong>{{ 'valdation.passwordHint' | translate }}</strong></mat-error>
  }
   -->
</mat-form-field>
