table, mat-paginator {
    width: 100%;
    background-color: #EDEFF0 !important;  
    border-color: #E0DFE0 !important;
    border-width: 2px !important ;
}
// mat-paginator{
//     border-collapse: collapse;
//     border-bottom-right-radius: 1em;
//     border-bottom-left-radius: 1em;
// }

.mat-mdc-form-field {
font-size: 14px;
width: 100%;
}

th {
border-color: #E0DFE0 !important;
border-top-width: 1px !important ;
font-weight: 700;
}