<mat-card>
  <mat-card-content class="signup">
    <form [formGroup]="form" skipValidation class="signup__form">
      <!-- <h1>{{'test'| translate}}</h1> -->
      <div class="text-center">
        <h2 class="custom-text-head">{{ "signup.Register" | translate }}</h2>
        <p class="p-text-center mb-0">
          {{ "signup.suadiRejisterHeaderParagraph" | translate }}
        </p>
        <a class="a-text-underline" (click)="gotoVerficationCode()">
          {{ "signup.Register via absher" | translate }}
        </a>
      </div>
      <mat-divider></mat-divider>

      <input-field
        [label]="('signup.ID Number' | translate) + '*'"
        [placeholder]="'signup.Enter the ID number' | translate"
        [type]="'text'"
        [controlF]="form.get('nationalId')"
      />

      <app-date-picker
        [label]="('signup.Date of birth' | translate) + '*'"
        [placeholder]="'signup.Enter' | translate"
        [type]="'date'"
        [controlF]="form.get('DOP')"
      />
      <div class="d-flex">
        <img src="../../../../assets/img/Rectangle 37.svg" alt="" srcset="" />
      </div>
      <input-field
        [label]="''"
        [placeholder]="'signup.The code is in the picture' | translate"
        [type]="'text'"
        [controlF]="form.get('imageCode')"
      />
      <app-shared-button
        [label]="'signup.Data recovery' | translate"
        (buttonClick)="submit()"
        [isDisabled]="!form.valid"
      >
      </app-shared-button>
    </form>
    <div class="mt-3 mb-84 signup__footer">
      <p>
        {{ "signup.suadiRejisterFooterParagraph" | translate }}
        <span>
          <a class="a-text-underline">
            {{ "signup.via this link" | translate }}
          </a>
        </span>
      </p>
    </div>
    <div class="text-center signup__login">
      <a class="a-text-underline-bold" (click)="login()">{{
        "signup.sign in" | translate
      }}</a>
    </div>
  </mat-card-content>
</mat-card>
