<mat-divider></mat-divider>
<form [formGroup]="form">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <input-field
        [label]="'Name In English' + '*'"
        [placeholder]="'Enter Your Name'"
        [control]="form.get('nameEn')"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="'Name In Arabic' + '*'"
        [placeholder]="'Enter Your Name'"
        [control]="form.get('nameAr')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <select-field
        [label]="'ID Type' + '*'"
        [placeholder]="'Select ID Type'"
        [control]="form.get('IDType')"
        [options]="options"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="'ID Number' + '*'"
        [placeholder]="'Enter Your ID Number'"
        [control]="form.get('IDNumber')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <select-field
        [label]="'Nationality' + '*'"
        [placeholder]="'Select Your Nationality'"
        [control]="form.get('nationality')"
        [options]="options"
      />
    </div>
    <div fxFlex="49">
      <select-field
        [label]="'Gender' + '*'"
        [placeholder]="'Select Your Gender'"
        [control]="form.get('gender')"
        [options]="options"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <app-date-picker
        [label]="'Date of birth (Gregorian)' + '*'"
        [placeholder]="'Select Your Date of birth (Gregorian)'"
        [type]="'date'"
        [control]="form.get('DOPGregorian')"
      />
    </div>
    <div fxFlex="49">
      <app-date-picker
        [label]="'Date of birth (Hijri)' + '*'"
        [placeholder]="'Select Your Date of birth (Hijri)'"
        [type]="'date'"
        [control]="form.get('DOPHijri')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <input-field
        [label]="'Email' + '*'"
        [placeholder]="'Enter Your Email'"
        [control]="form.get('email')"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="'Mobile Number' + '*'"
        [placeholder]="'Enter Your Mobile Number'"
        [control]="form.get('mobileNumber')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <input-field
        [label]="'Passward' + '*'"
        [placeholder]="'Enter Your Passward'"
        [control]="form.get('passward')"
        [type]="'password'"
        [hint]="
          'يجب أن تحتوي كلمة المرور على 8 أحرف أو أكثر . واستخدام رقم واحد علي الأقل.'
        "
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="'Confirm Passward' + '*'"
        [placeholder]="'Enter Your Confirm Passward'"
        [control]="form.get('confirmPassward')"
        [type]="'password'"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <app-shared-button
        [label]="'Save and continue'"
        (buttonClick)="submit()"
        [isDisabled]="!form.valid"
      >
      </app-shared-button>
      
      <span >
        <cancel-button
          [label]="'Cancel'"
          (buttonClick)="submit()"
        >
        </cancel-button>
      </span>
    </div>
    <div>
      <a class="a-text-underline-bold" (click)="login()"> {{'login.login' | translate}}</a>
    </div>
  </div>
</form>
