<mat-divider></mat-divider>
<form [formGroup]="form">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <input-field
        [label]="('personalInfo.NameInEnglish' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourName' | translate"
        [controlF]="form.get('nameEn')"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="('personalInfo.NameInArabic' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourName' | translate"
        [controlF]="form.get('nameAr')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <select-field
        [label]="('personalInfo.IDType' | translate) + '*'"
        [placeholder]="'personalInfo.SelectIDType' | translate"
        [controlF]="form.get('IDType')"
        [options]="options"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="('personalInfo.IDNumber' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourIDNumber' | translate"
        [controlF]="form.get('IDNumber')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <select-field
        [label]="('personalInfo.Nationality' | translate) + '*'"
        [placeholder]="'personalInfo.SelectYourNationality' | translate"
        [controlF]="form.get('nationality')"
        [options]="options"
      />
    </div>
    <div fxFlex="49">
      <select-field
        [label]="('personalInfo.Gender' | translate) + '*'"
        [placeholder]="'personalInfo.SelectYourGender' | translate"
        [controlF]="form.get('gender')"
        [options]="options"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <app-date-picker
        [label]="('personalInfo.DateofbirthGregorian' | translate) + '*'"
        [placeholder]="
          'personalInfo.SelecYourtDateofbirthGregorian' | translate
        "
        [type]="'date'"
        [controlF]="form.get('DOPGregorian')"
      />
    </div>
    <div fxFlex="49">
      <app-date-picker
        [label]="('personalInfo.DateofbirthHijri' | translate) + '*'"
        [placeholder]="
          ('personalInfo.SelecYourtDateofbirthHijri' | translate) + '*'
        "
        [type]="'date'"
        [controlF]="form.get('DOPHijri')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <input-field
        [label]="('personalInfo.Email' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourEmail' | translate"
        [controlF]="form.get('email')"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="('personalInfo.MobileNumber' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourMobileNumber' | translate"
        [controlF]="form.get('mobileNumber')"
      />
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxFlex="49" fxLayoutGap="20px">
      <input-field
        [label]="('personalInfo.Passward' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourPassward' | translate"
        [controlF]="form.get('passward')"
        [type]="'password'"
        [hint]="'personalInfo.passwordHint' | translate"
      />
    </div>
    <div fxFlex="49">
      <input-field
        [label]="('personalInfo.ConfirmPassward' | translate) + '*'"
        [placeholder]="'personalInfo.EnterYourConfirmPassward' | translate"
        [controlF]="form.get('confirmPassward')"
        [type]="'password'"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-4">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="margin-inline-end-20">
        <app-shared-button
          [label]="'personalInfo.Saveandcontinue' | translate"
          (buttonClick)="submit()"
          [isDisabled]="!form.valid"
        >
        </app-shared-button>
      </span>

      <!-- <span> -->
      <cancel-button
        [label]="'personalInfo.Cancel' | translate"
        
      >
      </cancel-button>
      <!-- </span> -->
    </div>
    <div>
      <a class="a-text-underline-bold" (click)="login()">
        {{ "login.login" | translate }}</a
      >
    </div>
  </div>
</form>
