<div class="pt-5 pb-5 px-5 bg-primary text-right" fxLayout="row" fxLayout.xs="column" fxLayoutGap="45px" fxLayoutAlign="space-evenly stretch" dir="rtl">
  <div fxFlex="20">
    <img src="assets/img/logo-white.svg" class="img-style" />
  </div>
  <div fxFlex="55"  class="align-self-center">
    <h3 class="fw-bold text-white">جميع الحقوق محفوظة © 2023 الهيئة السعودية للمقيمين المعتمدين</h3>
  </div>
  <div fxFlex="26" class="align-self-center text-right">
    <h3 class="fw-bold text-white">شروط وأحكام وسياسات استخدام بوابة الأفراد</h3>
  </div>
</div>