<mat-label>{{label}}</mat-label>
<mat-form-field appearance="outline" class="d-flex pt-3">
  <mat-select [placeholder]="placeholder" [formControl]="controlF" [errorStateMatcher]="matcher">
    <mat-option *ngFor="let option of options" [value]="option.id">{{option.name}}</mat-option>
  </mat-select>
  <mat-hint>{{hint}}</mat-hint>
  @if (controlF.hasError('required')) {
    <mat-error>{{label}} <strong>{{ 'valdation.required' | translate }}</strong></mat-error>
  }
</mat-form-field>
<!-- <mat-form-field>
  <mat-label>{{label}}</mat-label>
  <mat-select [formControl]="control">
    @for (option of options; track option) {
      <mat-option [value]="option?.id">{{option?.name}}</mat-option>
    }
  </mat-select>
</mat-form-field> -->